In [34]:
class people:
    def __init__(self,w,h):
        self.__w=w
        self__h=h
    @property
    def w(self):
        return self.__w
    @w.setter
    def w(self,new_w):
        if new_w>0:
            self.__w=new_w
p1=people(1,2)
p1.w
p1.w=9
p1.w
# fn=open('StudentsPerformance.csv')
# for l in fn:
#     n=l.split(",")
#     if n[0]!="female": n[0]="Not people"
#     l=",".join(n)
#     print(l)
# fn.close()

9

In [35]:
import pandas as pd

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [36]:
fb=pd.read_csv('football.csv')

In [92]:
display(fb.tail(8),fb.head(4),fb.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12889,13118,M. Baldisimo,18,Canada,Vancouver Whitecaps FC,70000,1000,CM,31,31,...,36,40,48,49,49,7,7,9,14,15
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94

None

In [104]:
fb.loc[fb['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values='Age',index='Nationality'
, columns='Club',aggfunc='mean',margins=True, fill_value='НЕТ') #у аргентинцев в клубе барселона средний возраст 31 и тд.

Club,FC Barcelona,Juventus,Manchester United,Real Madrid,All
Nationality,,,,,
Argentina,31,24,29.5,НЕТ,28.5
Belgium,32,НЕТ,25,26,27.6667
Bosnia Herzegovina,НЕТ,28,НЕТ,НЕТ,28
Brazil,23.5,27,22,28,25.5714
Chile,31,НЕТ,29,НЕТ,30
Costa Rica,НЕТ,НЕТ,НЕТ,31,31
Croatia,30,32,НЕТ,32,31.3333
Dominican Republic,НЕТ,НЕТ,НЕТ,24,24
Ecuador,НЕТ,НЕТ,32,НЕТ,32
England,НЕТ,НЕТ,24,НЕТ,24
France,22.6667,31,23.5,25,24.5556
Germany,26,31,НЕТ,28,28.3333
Italy,НЕТ,27,28,НЕТ,27.2
Ivory Coast,НЕТ,НЕТ,24,НЕТ,24
Morocco,НЕТ,31,НЕТ,НЕТ,31
Netherlands,29,НЕТ,НЕТ,НЕТ,29
Poland,НЕТ,28,НЕТ,НЕТ,28
Portugal,24,33,НЕТ,НЕТ,28.5
Scotland,НЕТ,НЕТ,19,НЕТ,19
Serbia,НЕТ,НЕТ,29,НЕТ,29
Spain,22.7778,НЕТ,27,22.4545,22.8095
Uruguay,31,НЕТ,НЕТ,НЕТ,31
Wales,НЕТ,НЕТ,20,28,24
All,25.1818,28.5714,25.25,24.8636,25.7179

In [38]:
display(fb.describe(include=['object']))

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

In [39]:
display(fb.head())

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [40]:
display(fb[(fb.Age<=21)&(fb.Wage>=fb.Wage.mean())].Club)

25       Paris Saint-Germain
141             FC Barcelona
142          Manchester City
188                     Ajax
190             FC Barcelona
                ...
8960            Club América
8967                 Everton
9276       Tottenham Hotspur
9385                 Chelsea
10354              Liverpool
Name: Club, Length: 194, dtype: object

In [41]:
display(round(fb[fb.Wage<fb.Wage.mean()].SprintSpeed.mean(),2))

62.41

In [42]:
display(fb[(fb.Composure>0.9*fb.Composure.max()) &(fb.Reactions>0.9*fb.Reactions.max())].Age.min())

24

In [43]:
display(fb[fb.Value>fb.Value.mean()].Nationality.describe().freq)

211

In [44]:
display(fb.Nationality.describe())

count       12897
unique        156
top       England
freq         1368
Name: Nationality, dtype: object

In [45]:
objects=fb.describe(include=['object'])

In [46]:
numbers=fb.describe()

In [47]:
fb.count(axis=0)

Unnamed: 0         12897
Name               12897
Age                12897
Nationality        12897
Club               12897
Value              12897
Wage               12897
Position           12897
Crossing           12897
Finishing          12897
HeadingAccuracy    12897
ShortPassing       12897
Volleys            12897
Dribbling          12897
Curve              12897
FKAccuracy         12897
LongPassing        12897
BallControl        12897
Acceleration       12897
SprintSpeed        12897
Agility            12897
Reactions          12897
Balance            12897
ShotPower          12897
Jumping            12897
Stamina            12897
Strength           12897
LongShots          12897
Aggression         12897
Interceptions      12897
Positioning        12897
Vision             12897
Penalties          12897
Composure          12897
Marking            12897
StandingTackle     12897
SlidingTackle      12897
GKDiving           12897
GKHandling         12897
GKKicking          12897
GKPositioning      12897
GKReflexes         12897
dtype: int64

In [48]:
categorical=[i for i in fb.columns if fb[i].dtype=='object']

In [49]:
for i in categorical:
    fb[i]=fb[i].fillna(fb[i].describe(include=['object']).top)

In [50]:
display(fb)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [51]:
data_des=fb[categorical].describe()

In [52]:
data_nonbinary=[i for i in categorical if data_des[i]['unique']>2 ]

In [53]:
data_nonbinary

['Name', 'Nationality', 'Club', 'Position']

In [54]:
fb_non_bin=pd.get_dummies(fb[data_nonbinary])

In [55]:
fb_non_bin

,Name_A. Abang,Name_A. Abdellaoui,Name_A. Abdi,Name_A. Abdu Jaber,Name_A. Abdulhameed,Name_A. Abedzadeh,Name_A. Abeid,Name_A. Ablet,Name_A. Absalem,Name_A. Accardi,...,Position_RB,Position_RCB,Position_RCM,Position_RDM,Position_RF,Position_RM,Position_RS,Position_RW,Position_RWB,Position_ST
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12893,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12894,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12896,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
binary=[i for i in categorical if data_des[i]['unique']==2 ]

In [57]:
binary

[]

In [58]:
itareble=[i for i in fb.columns if fb[i].dtype!='object']

In [59]:
itareble

['Unnamed: 0',
 'Age',
 'Value',
 'Wage',
 'Crossing',
 'Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'Curve',
 'FKAccuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'SprintSpeed',
 'Agility',
 'Reactions',
 'Balance',
 'ShotPower',
 'Jumping',
 'Stamina',
 'Strength',
 'LongShots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'StandingTackle',
 'SlidingTackle',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes']

In [60]:
data=pd.concat((fb[itareble],fb[binary],fb_non_bin),axis=1)

In [61]:
data

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Position_RB,Position_RCB,Position_RCM,Position_RDM,Position_RF,Position_RM,Position_RS,Position_RW,Position_RWB,Position_ST
0,0,31,110500000,565000,84,95,70,90,86,97,...,0,0,0,0,1,0,0,0,0,0
1,1,33,77000000,405000,84,94,89,81,87,88,...,0,0,0,0,0,0,0,0,0,1
2,2,26,118500000,290000,79,87,62,84,84,96,...,0,0,0,0,0,0,0,0,0,0
3,3,27,72000000,260000,17,13,21,50,13,18,...,0,0,0,0,0,0,0,0,0,0
4,4,27,102000000,355000,93,82,55,92,82,86,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,19,1100000,1000,34,38,40,49,25,42,...,0,0,0,0,0,0,0,0,0,0
12893,13122,19,60000,1000,23,52,52,43,36,39,...,0,0,0,0,0,0,0,0,0,1
12894,13123,16,60000,1000,25,40,46,38,38,45,...,0,0,0,0,0,0,0,0,0,1
12895,13124,17,60000,1000,44,50,39,42,40,51,...,0,0,0,0,0,0,0,1,0,0
12896,13125,16,60000,1000,41,34,46,48,30,43,...,0,0,0,0,0,0,0,0,0,0

In [62]:
df=pd.DataFrame(data,dtype=float)

In [63]:
y=df['Wage']

In [64]:
y

0        565000.0
1        405000.0
2        290000.0
3        260000.0
4        355000.0
           ...
12892      1000.0
12893      1000.0
12894      1000.0
12895      1000.0
12896      1000.0
Name: Wage, Length: 12897, dtype: float64

In [65]:
x=df.drop('Wage',axis=1)

In [66]:
x.columns

Index(['Unnamed: 0', 'Age', 'Value', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       ...
       'Position_RB', 'Position_RCB', 'Position_RCM', 'Position_RDM',
       'Position_RF', 'Position_RM', 'Position_RS', 'Position_RW',
       'Position_RWB', 'Position_ST'],
      dtype='object', length=13196)

In [67]:
xx=df['Unnamed: 0']

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=11)

In [70]:
N_train = x_train.shape[0] 
N_test = x_test.shape [0]
print(N_train, N_test)

9027 3870

In [71]:
from sklearn import ensemble

In [84]:
rf= ensemble.RandomForestClassifier(n_estimators=200,random_state=11)

In [85]:
rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=200, random_state=11)

In [86]:
y_pred= rf.predict(x_test)

In [87]:
import numpy as np

In [88]:
er_test=np.mean(y_test!= y_pred)

In [89]:
er_train=np.mean(y_train!= rf.predict(x_train))

In [91]:
print(er_train,er_test)

0.0 0.5751937984496124